body {
    background-color: rgb(66, 66, 66);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    text-align: center;
}

input {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    width: 250px;
}

#type {
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    width: 170px;
}

#type:hover {
    background-color: gray;
    transition: background-color 0.3s ease;
    border: #000000;
}

#type:focus {
    border-color: #007bff;
    background-color: #e6f7ff;
}

textarea {
    border-radius: 20px;
    padding: 5px;
    border: 2px solid #ddd;
    width: 250px;
    resize: vertical;
    font-family: inherit;
    font-size: 1em;
    position: relative;
    top: 30px;
}

.btn-um {
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.btn-um:hover {
    background-color: gray;
    transition: background-color 0.3s ease;
    cursor:pointer;
    border: #000000;
}

.btn-um:active {
    background-color: rgb(80, 80, 80);
}

div#entriesList {
    padding: 1rem;
    margin: 2rem;
    background-color: #ddd;
    box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
    border-radius: 15px;
    width: 350px;
}

.btn-dois {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 2px solid;
    border-radius: 7px;
}